<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="ConexionInversiones"
			 connectionString="Server=86.48.30.231,1433;Initial Catalog=ProyectoFinalDB2;User ID=sa;Password=TuPassword123!;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>